.single-featured{
    text-align: center;
}
.single-featured img {
    max-width: 120px;
    max-height: 50px;
}
.featured-wrap{
    align-items: center;
}
.single-featured {
    /* padding: 15px 30px; */
}
@media (min-width: 1025px){
    .featured-wrap{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .single-featured {
        width: 15%;
        padding: 15px;
    }
    
}